<%= form_tag "/users/login" do %>
  <label>Email:</label>
  <input type="text" name="email" />

  <label>Password:</label>
  <input type="password" name="password" />

  <button>Login</button>
<% end %>