<%= form_tag "/users/sign_up" do %>
  <label>Name:</label>
  <input type="text" name="name" />

  <label>Email:</label>
  <input type="text" name="email" />

  <label>Password:</label>
  <input type="password" name="password" />

  <button>sign up</button>
<% end %>
