<section class="podcast">
  <div class="info">
    <h2 class="podcast-title">PODCAST</h2>
    <p>Check out the latest message here.</p>
    <div class="container">
      <%= render partial: "podcasts/tile", collection: Podcast.all, as: :podcast %>
    </div>
    <a href="/podcasts" class="btn btn-primary btn-md">LISTEN</a>
  </div>
</section>