<div class="event-container">
  <h4 class="event-date"><%= event.date.strftime("%d/%m/%Y") %></h4>
  <%= link_to event do %>
    <%= image_tag(event.image_url, style: "display: block; margin: 0 auto; width: 230px; height: 200px;") %>
  <% end %>
  <h3 class="event-title"><%= event.title %></h3>
</div>