<%= form_tag "/events/new" do %>

  <label>Image Url:</label>
  <input type="text" name="image_url" placeholder="type image url"/>

  <label>Date:</label>
  <input type="text" name="date" placeholder="2019-08-08 20:00"/>

  <label>Title:</label>
  <input type="text" name="title" placeholder="type title"/>

  <label>Speaker:</label>
  <input type="text" name="speaker" placeholder="type speaker"/>

  <label>Campus id:</label>
  <input type="text" name="campus_id" placeholder="type campus id"/>

  <label>Address:</label>
  <input type="text" name="address" placeholder="type address"/>

  <button>Create</button>
<% end %>
