<div class="event-info">
<%= render partial: "form", locals: {event: @event} %>
<p>Speaker is <%= @event.speaker %></p>
<p><%= @event.time %>pm at <strong><%= @event.campus.address %></strong></p>
</div>