// Place all the styles related to the campus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.location {
  text-align: -webkit-center;
}

.each-campus {
  display: flex;
  padding: 10px;
  align-items: center;
  padding-left: 50px;
}

.campus-info {
  border: 2px solid #b09476;
  box-shadow: 5px 5px 0 0 #b09476;
  width: 50%;
  letter-spacing: 2px;
  padding: 10px;
}

h4 {
  font-family: "Abril Fatface", cursive;
}

.campus-location {
  padding-top: 20px;
  font-family: "Abril Fatface", cursive;
}

.campus-name {
  padding-top: 0px;
}
