// Place all the styles related to the events controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-info {
  text-align: -webkit-center;
  border: 2px solid #b09476;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 0px 20px 0px;
  box-shadow: 5px 5px 0 0 #b09476;
}

.event-date {
  font-family: "Montserrat", sans-serif;
  color: #b09476;
}

.event-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.event-details {
  padding-top: 20px;
  font-weight: 600;
}
