// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.news-title {
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
  color: #b09476;
  font-weight: bolder;
}
