// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.news-title {
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
  color: #b09476;
  font-weight: bolder;
}

.bridge-news-title {
  text-align: -webkit-center;
}

.news-info {
  display: flex;
  align-items: center;
  margin-left: 10rem;
  padding: 20px;

  @media only screen and (max-width: 1330px) {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}

.news-description {
  padding-left: 30px;
  font-weight: bold;
  font-size: larger;
  font-family: "Montserrat", sans-serif;

  @media only screen and (max-width: 710px) {
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    margin-left: 80px;
  }
}
