// Place all the styles related to the podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.podcast-date {
  font-family: "Montserrat", sans-serif;
}

.podcast-url {
  color: white;
}

.podcast-title {
  color: white;
}

#podcast-title {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.podcast-info {
  text-align: -webkit-center;
  border: 2px solid #b09476;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px 0px 20px 0px;
  box-shadow: 5px 5px 0 0 #b09476;
}

.podcast-container {
  border-bottom: 1px solid #dfdfdf;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 20rem;
  margin-right: 20rem;
}

.podcast-link {
  color: black;
  font-weight: 800;
}

h6 {
  color: #727272;
  padding-top: 15px;
}
